:root {
  --light-dark-theme-bg-black: #548ca8;
  --light-dark-theme-bg-dark: #2C3639;
  --light-dark-theme-bg-medium: #3F4E4F;
  --light-dark-theme-bg-dark-grey: #414A4C;
  --light-dark-theme-bg-medium-grey: #DCD7C9;
  --light-dark-theme-bg-light-grey:  #E6E3D9;
  --light-dark-theme-bg-very-light-grey:  #F2F1EC;
  --background: var(--light-dark-theme-bg-dark);
  --very-light-grey: var(--light-dark-theme-bg-very-light-grey);
  --light-grey: var(--light-dark-theme-bg-medium);
  --medium-grey: var(--light-dark-theme-bg-medium-grey);
  --white: var(--light-dark-theme-bg-dark-grey);
  --black: var(--light-dark-theme-bg-light-grey);
  --primary: #458bed;
  --green: #28c963;

  /* Text */
  --text-color: #e7f6f2;
  --text-color-secondary: var(--text-color);
  --call-to-action-text-color: var(--light-dark-theme-bg-medium);
  --call-to-action-link-color: var(--call-to-action-text-color);

  /* Alerts */
  --alert-success-text-color: #fff;
  --alert-success-bg-color: #007e33;
  --alert-success-border-color: var(--alert-success-bg-color);
  --alert-info-text-color: #fff;
  --alert-info-bg-color: #0099cc;
  --alert-info-border-color: var(--alert-info-bg-color);
  --alert-warning-text-color: #fff;
  --alert-warning-bg-color: #ff8800;
  --alert-warning-border-color: var(--alert-warning-bg-color);
  --alert-danger-text-color: #fff;
  --alert-danger-bg-color: #cc0000;
  --alert-danger-border-color: var(--alert-danger-bg-color);

  /* Buttons */
  --btn-secondary-bg: var(--light-dark-theme-bg-dark);
  --btn-secondary-color: var(--btn-primary-color);
  --btn-link-bg--hover: var(--light-dark-theme-bg-dark-grey);
  --btn-link-bg--active: var(--light-dark-theme-bg-dark-grey);
  --btn-primary-bg: #787878;
  --btn-text-color: var(--light-dark-theme-bg-medium);
  --btn-primary-bg-hover: var(--text-color);


  /* Help area */
  --help-area-bg-color: var(--light-dark-theme-bg-dark-grey);
  --configure-job-help-area-bg-color: var(--light-dark-theme-bg-dark);

  /* Header */
  --logo-bg: var(--light-dark-theme-bg-dark);
  --brand-link-color: var(--primary);
  --header-bg-v2: var(--light-dark-theme-bg-medium);
  --header-link-color: var(--text-color);
  --header-link-color-active: var(--text-color);
  --search-bg: #4d545d;
  --search-input-color: var(--text-color);

  /* Breadcrumbs */
  --breadcrumbs-bg: var(--light-dark-theme-bg-black);
  --breadcrumbs-bg-color--hover: var(--light-dark-theme-bg-dark);
  --breadcrumbs-text-color: var(--text-color);
  --breadcrumbs-item-bg-color--hover: var(--light-dark-theme-bg-dark);
  --breadcrumbs-border: var(--light-dark-theme-bg-dark-grey);

  /* Links */
  --link-color: #dfecf0;
  --link-visited-color: var(--link-color);

  /* Table */
  --bigtable-header-bg: var(--light-dark-theme-bg-black);
  --bigtable-header-border-color: var(--light-dark-theme-bg-dark-grey);
  --bigtable-header-text-color: var(--text-color);
  --bigtable-row-border-color: var(--light-dark-theme-bg-dark-grey);
  --even-row-color: var(--light-dark-theme-bg-medium);
  --table-striped-bg--hover: var(--light-dark-theme-bg-dark-grey);

  --table-background: var(--light-dark-theme-bg-medium);
  --table-body-background: #404040;
  --table-body-foreground: var(--text-color);
  --table-header-foreground: var(--text-color);
  --tabs-item-background--selected: var(--table-body-background);

  /* Pane widget */
  --pane-border-color: var(--light-dark-theme-bg-dark-grey);
  --pane-header-border-color: var(--light-dark-theme-bg-dark-grey);
  --pane-header-color: var(--light-dark-theme-bg-black);

  /* Tab bar widget */
  --tab-link-border-color: var(--light-dark-theme-bg-dark-grey);
  --tab-link-text-color: #999;
  --tab-link-checked-bg: var(--light-dark-theme-bg-black);
  --tab-link-checked-text-color: var(--primary);
  --tab-link-bg--hover: var(--light-dark-theme-bg-dark-grey);
  --tab-link-bg--active: var(--light-dark-theme-bg-dark-grey);

  /* Side panel */
  --panel-header-bg-color: var(--light-dark-theme-bg-medium);
  --panel-border-color: var(--light-dark-theme-bg-dark-grey);
  --panel-border-color--hover: var(--light-dark-theme-bg-black);
  --task-link-bg-color--hover: var(--light-dark-theme-bg-medium-grey);f

  /* Form */
  --input-color: #3a3a3a;
  --input-border: #484848;
  --header-search-border: var(--light-dark-theme-bg-dark-grey);
  --input-hidden-password-bg-color: var(--input-color);
  --input-border-hover: gray;
  --focus-input-border: var(--input-border-hover);

  /* Text area handle */
  --text-area-handle-border: var(--light-dark-theme-bg-dark-grey);
  --text-area-handle-bg-color: var(--text-area-handle-border);

  /* Pop out menus */
  --menu-bg-color: var(--light-dark-theme-bg-medium);
  --menu-text-color: var(--primary);
  --menu-selected-color: var(--light-dark-theme-bg-dark);
  --menu-box-shadow: none;

  /* Manage component */
  --manage-option-bg-color--hover: var(--light-dark-theme-bg-light-grey);
  --manage-option-bg-color--active: var(--light-dark-theme-bg-light-grey);
  --manage-option-border-color: var(--light-dark-theme-bg-light-grey);

  /* Add form widget */
  --light-bg-color: var(--light-dark-theme-bg-medium);
  --light-bg-color--hover: var(--light-dark-theme-bg-dark);
  --bright-bg-color: var(--light-dark-theme-bg-dark-grey);
  --brightest-bg-color: var(--input-color);
  --add-item-btn-decorator-border-color: var(--light-dark-theme-bg-dark-grey);
  --add-item-categories-bg-color--hover: var(--light-dark-theme-bg-dark-grey);
  --add-item-btn-decorator-bg-color: var(--light-dark-theme-bg-dark-grey);
  --configure-job-bottom-sticker-bg-color: var(--light-dark-theme-bg-dark-grey);
  --configure-job-bottom-sticker-border-color: var(--light-dark-theme-bg-dark-grey);

  /* Plugin manager */
  --plugin-manager-bg-color-already-upgraded: var(--light-dark-theme-bg-medium);
  --plugin-manager-category-link-bg-color: #5d5b5b;
  --plugin-manager-category-link-bg-color--hover: var(--light-dark-theme-bg-dark-grey);
  --plugin-manager-category-link-border-color--hover: var(--light-dark-theme-bg-black);
  --plugin-manager-category-text-color: var(--text-color);
  --plugin-manager-category-link-color--hover: #a5a3a3;
  --plugin-manager-unavailable-bg-color: var(--light-dark-theme-bg-medium);

  /* Auto complete */
  --auto-complete-bg-color--prehighlight: var(--primary);

  --header-bg-classic: #474444;
  --header-link-color: white;
}

/**
    Name: IntelliJ IDEA darcula theme
    From IntelliJ IDEA by JetBrains
    Source: https://github.com/codemirror/CodeMirror/blob/master/theme/darcula.css
 */

 #jenkins .cm-s-default  { font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;}
 #jenkins .cm-s-default.CodeMirror { background: #2B2B2B; color: #A9B7C6; }

 #jenkins .cm-s-default span.cm-meta { color: #BBB529; }
 #jenkins .cm-s-default span.cm-number { color: #6897BB; }
 #jenkins .cm-s-default span.cm-keyword { color: #CC7832; line-height: 1em; font-weight: bold; }
 #jenkins .cm-s-default span.cm-def { color: #A9B7C6; font-style: italic; }
 #jenkins .cm-s-default span.cm-variable { color: #A9B7C6; }
 #jenkins .cm-s-default span.cm-variable-2 { color: #A9B7C6; }
 #jenkins .cm-s-default span.cm-variable-3 { color: #9876AA; }
 #jenkins .cm-s-default span.cm-type { color: #AABBCC; font-weight: bold; }
 #jenkins .cm-s-default span.cm-property { color: #FFC66D; }
 #jenkins .cm-s-default span.cm-operator { color: #A9B7C6; }
 #jenkins .cm-s-default span#jenkins .cm-string { color: #6A8759; }
 #jenkins .cm-s-default span#jenkins .cm-string-2 { color: #6A8759; }
 #jenkins .cm-s-default span.cm-comment { color: #61A151; font-style: italic; }
 #jenkins .cm-s-default span.cm-link { color: #CC7832; }
 #jenkins .cm-s-default span.cm-atom { color: #CC7832; }
 #jenkins .cm-s-default span.cm-error { color: #BC3F3C; }
 #jenkins .cm-s-default span.cm-tag { color: #629755; font-weight: bold; font-style: italic; text-decoration: underline; }
 #jenkins .cm-s-default span.cm-attribute { color: #6897bb; }
 #jenkins .cm-s-default span.cm-qualifier { color: #6A8759; }
 #jenkins .cm-s-default span.cm-bracket { color: #A9B7C6; }
 #jenkins .cm-s-default span.cm-builtin { color: #FF9E59; }
 #jenkins .cm-s-default span#jenkins .cm-special { color: #FF9E59; }
 #jenkins .cm-s-default span.cm-matchhighlight { color: #FFFFFF; background-color: rgba(50, 89, 48, .7); font-weight: normal;}
 #jenkins .cm-s-default span#jenkins .cm-searching { color: #FFFFFF; background-color: rgba(61, 115, 59, .7); font-weight: normal;}

 #jenkins .cm-s-default .CodeMirror-cursor { border-left: 1px solid #A9B7C6; }
 #jenkins .cm-s-default .CodeMirror-activeline-background { background: #323232; }
 #jenkins .cm-s-default .CodeMirror-gutter { background: #313335; border-right: 1px solid #313335; }
 #jenkins .cm-s-default .CodeMirror-guttermarker { color: #FFEE80; }
 #jenkins .cm-s-default .CodeMirror-guttermarker-subtle { color: #D0D0D0; }
 #jenkins .cm-s-default .CodeMirrir-linenumber { color: #606366; }
 #jenkins .cm-s-default .CodeMirror-matchingbracket { background-color: #3B514D; color: #FFEF28 !important; font-weight: bold; }

 #jenkins .cm-s-default div.CodeMirror-selected { background: #214283; }

 #jenkins .CodeMirror-hints.default {
   font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
   color: #9C9E9E;
   background-color: #3B3E3F !important;
 }

 #jenkins .CodeMirror-hints.default .CodeMirror-hint-active {
   background-color: #494D4E !important;
   color: #9C9E9E !important;
 }

  .icon-disabled .svg-icon, .icon-disabled-anime .svg-icon {
   color: #b3ab9a !important;
   fill: #b3ab9a !important;
   opacity: 1;
  }

  .icon-disabled, .icon-disabled-anime {
   color: #b3ab9a !important;
   fill: #b3ab9a !important;
   opacity: 1;
  }

  .icon-aborted .svg-icon, .icon-aborted-anime .svg-icon {
    color: #b75bf0 !important;
    fill: #b75bf0 !important;
    opacity: 1;
  }

  .icon-aborted, .icon-aborted-anime {
    color: #b75bf0 !important;
    fill: #b75bf0 !important;
    opacity: 1;
  }

  pre a {
    font-weight: inherit;
    word-wrap: break-word;
    color: yellowgreen !important;
  }

  .console-output {
    background-color: #404040;
    color: #e0e0e0 !important;
  }

  .ownership-summary-box {
    width: 75%;
    background-color: #404040 !important;
    padding: 1rem;
    margin-bottom: 1rem;
    border-style: none;
  }

  .jenkins-form-item {
    max-width: var(--form-item-max-width);
    margin-bottom: var(--section-padding);
    background-color: #2b2b2b;
    padding: 1rem;
    border-radius: 1rem;
  }

  #jenkins-name-icon {
    width: 15rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
  }
 /* End CodeMirror Darcula theme */
